.otherProjects{
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.otherProjects h2 {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: all, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  font-size: clamp(24px, 5vw, var(--fz-heading));
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.project__list{
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}


.project__element{
  transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  position: relative;
  cursor: default;
}

.project__element a{
  position: relative;
  z-index: 1;
}

.project__inner {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  transition: var(--transition);
  overflow: auto;
}

.project__top {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 35px;
}

.folder svg {
  width: 40px;
  height: 40px;
  fill: none;
  color: var(--theme);
}

.project__links{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: -10px;
  color: var(--light-slate);
}

.project__links a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 7px;
}

.project__externalLink {
  width: 22px;
  height: 22px;
  margin-top: -4px;
}

.project__title {
  margin: 0px 0px 10px;
  color: var(--lightest-slate);
  font-size: var(--fz-xxl);
}

.project__title a {
  position: static;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  font-weight: 600;
}

.project__title a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.project__description {
  color: var(--light-slate);
  font-size: 17px;
}

.project__element .project-tech-list {
  display: flex;
  align-items: flex-end;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}

.project__element .project-tech-list li:not(:last-of-type) {
  margin-right: 15px;
}

.project__element .project-tech-list li {
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: 1.75;
  color: inherit;
}

.project__view {
  color: var(--theme);
  background-color: transparent;
  border: 1px solid var(--theme);
  border-radius: var(--border-radius);
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  padding: 1.25rem 1.75rem;
  transition: var(--transition);
  margin: 80px auto 0px;
}