.experience{
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 715px;
}

.experience__inner{
  display: flex;
  min-height: 340px;
}

.experience__texts {
  position: relative;
  width: 100%;
  margin-left: 20px;
}

