#content{
  display: block;
  unicode-bidi: isolate;
}

.main {
  position: relative;
  margin: 0px;
  display: block;
  flex-direction: column;
  width: calc(100%);
  min-height: 100vh;
  padding: 0px 150px;
}

.section__header {
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
}

.section__number {
  margin-right: 10px;
  color: var(--theme);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
  margin-top: 5px;
}

.section__title {
  line-height: 1.1;
  white-space: nowrap;
  font-weight: 600;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  color: #d4d4d4;
  /* color: var(--lightest-slate); */
}

.section__spacer {
  width: 300px;
  height: 1px;
  border: 0px;
  border-top: 1px solid;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}