.featured{
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

.featured__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.featured__list a {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  transition: var(--transition);
}